
body
{
	background-image:radial-gradient(white 30%, blue 60%);
	background-repeat:repeat-z;
	background-attachment:scroll;
	background-color:cyan;
	background-size:cover;
}

h1,h3
{
	color:black;
	margin-left:70px;	
	text-decoration:underline;
}

p
{
	color:white;
	font-style:italic;
	font-family:Times New Roman, serif;
	font-size:20px;
	
}

p.normal
{
	color:blue;
	font-family:serif;
	font-weight:bold;	
	letter-spacing:10px;
	text-decoration:overline;
}

p.special
{
	color:red;
	font-weight:bolder;
	direction:rtl;
	word-spacing:10px;
	text-decoration:blink;
	text-decoration:line-through;
	text-transform:lowercase;
}

p.s
{
	text-transform:capitalize;
}

p.s1
{
	text-transform:uppercase;
	text-shadow: 4px 4px 4px blue;
	border:10px;
}

img
{
	box-shadow:4px 10px 5px blue;
	margin-left:700px;
	width:350px;
	height:250px;
	opacity: 0.5;

}

img:hover
{
	border: 3px double cyan;
	opacity:1.0;
}
	
#id1
{
	color:red;
	text-decoration:underline;
}


#id2
{
	color: purple;
	border-style:groove;
	padding:25px 50px 75px 100px;
}

p.one
{
	border-style:solid;
	border-width:5px;
	border-color:blue;
}

p.two
{
	border-style:dashed;
	border-width:3px;
	border-color:limegreen;
	
}

p.three
{
	border-style:double;
	border-width:2px;
	border-color:orange;
}

p.three
{
	border-style:double;
	border-width:2px;
	border-color:orange;
}

p.four
{
	border-top-style:dotted;
	border-right-style:groove;
	border-bottom-style:double;
	border-left-style:ridge;
	border-color:pink;
	border-top-color:Chartreuse;
	border-left-color:Crimson;
	border-right-color:DeepPink;
	border-bottom-color:GreenYellow;
	padding-top:50px;
	padding-right:30px;
	padding-bottom:50px;
	padding-left:80px;
}


#id3
{
	margin:25px 50px 100px 30px;
}

h3.auto
{
	margin:auto;
}

#id4
{
	margin:2cm;
	padding:5px 5px 5px 5px;
	border-style:dashed;
	border-color:green;
	border-width:2px;
}

li.Q2
{
	display:inline;
	text-decoration:
}

span.a
{
	display:inline;
	width:100px;
	height:100px;
	padding:5px;
	border:1px purple;
	background-color:yellow;
}

span.b
{
	display:inline-block;
	width:100px;
	height:352px;
	padding:5px;
	border:1px solid blue;
	background-color:yellow;
}

span.c
{
	display:block;
	width:150px;
	height:250px;
	padding:5px;
	border:1px solid blue;
	background-color:yellow;
}

a.tag1
{
	text-decoration:underline;
	color:black;
}
a.tag1:active
{
	color:purple;
}


a.tag2
{
	color:green;
	text-decoration:none;
}
a.tag2:link
{
	color:pink;
}

a.tag3
{
	text-decoration:none;
	border:2px;
	border-style:solid;
	border-color:green;
	padding:5px;

}
a.tag3:visited
{
	color:blue;
}


a.tag4
{
	text-decoration:none;
	background-color:black;
	color:white;
	padding:5px;
}
a.tag4:hover
{
  color:yellow;
}


P.k::first-line
{
color:#ff0000;
font-variant:small_caps;
}


P.r::first-letter
{
color:#ff0000;
font-variant:xx-large;
}


h1.sk::selection
{
color:blue;
background:yellow;
}


div.one
{
background-image: url("lights.jpg");
border:solid grey;
}

div.two
{
background-color:white;
opacity:0.4;
border:solid grey;

}

div.three
{
	width:100px;
	height:100px;
	background:lightblue;
	transition: width 2s,height 4s;
}

div.three:hover
{
   color:red;
   width:300px;
   height:300px;
}

div.four
{
	width:100px;
	height:100px;
	background:pink;
	transition: width 2s,height 4s,transform 2s;
}

div.four:hover
{
	width:300px;
	height:300px;
	transform: rotateX(360deg);
	transform:rotateY(150deg);
	transform: rotateZ(270deg);
}

div.five
{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:4;
  animation-direction:alternate-reverse;
}

@keyframes example {

0% {transform: rotate(0deg);left:0px;background-color:red;}
25% {transform: rotate(20deg);left:0px;background-color:white;}
50% {transform: rotate(0deg);left:500px;background-color:purple;}
65% {transform: rotate(0deg);left:500px;background-color:yellow;}
80% {transform: rotate(0deg);left:500px;background:Aquamarine;}
100% {transform: rotate(-360deg);left:0px;background-color:cyan;}
}

