body
{
	background-image: url("/css/image/backdrop.jpg");
	background-repeat:repeat-z;
	background-attachment:scroll;
	background-color:cyan;
}

h1,h3
{
	color:white;
	margin-left:70px;
}

p
{
	color:white;
	font-style:italic;
	font-family:Times New Roman, serif;
}
