
body
{
	background-image: url("/css/image/sky.jpeg");
	background-repeat:repeat-z;
	background-attachment:scroll;
	background-color:cyan;
	background-size:cover;
}

h1,h3
{
	color:black;
	margin-left:70px;	
	text-indent:1cm;
	text-decoration:underline;
}

p
{
	color:white;
	font-style:italic;
	font-family:Times New Roman, serif;
	font-size:20px;
	
}

p.normal
{
	color:blue;
	font-family:serif;
	font-weight:bold;	
	letter-spacing:10px;
	text-decoration:overline;
}

p.special
{
	color:red;
	font-weight:bolder;
	direction:rtl;
	word-spacing:10px;
	text-decoration:blink;
	text-decoration:line-through;
	text-transform:lowercase;
}

p.s
{
	text-transform:capitalize;
}

p.s1
{
	text-transform:uppercase;
	text-shadow: 4px 4px 4px blue;
	border:10px;
}

img
{
	box-shadow:4px 10px 5px blue;
	margin-left:700px;
	width:350px;
	height:250px;
	opacity: 0.5;

}

img:hover
{
	border: 3px double cyan;
	opacity:1.0;
}
	
#id1
{
	color:red;
	text-decoration:underline;
}


#id2
{
	color: purple;
	border-style:groove;
}

p.one
{
	border-style:solid;
	border-width:5px;
	border-color:blue;
}

p.two
{
	border-style:dashed;
	border-width:3px;
	border-color:limegreen;
}

p.three
{
	border-style:double;
	border-width:2px;
	border-color:orange;
}

p.three
{
	border-style:double;
	border-width:2px;
	border-color:orange;
}

p.four
{
	border-top-style:dotted;
	border-right-style:groove;
	border-left-style:ridge;
	border-bottom-style:double;
	border-color:pink;
	border-top-color:Chartreuse;
	border-left-color:Crimson;
	border-right-color:DeepPink;
	border-bottom-color:GreenYellow;
}


#id3
{
	margin:25px 50px 100px 30px;
}

h3.auto
{
	margin:auto;
}
